{% extends 'base.html' %}

{% block title %}All Files{% endblock %}
{% block header_title %}All Files{% endblock %}

{% block content %}
    <div class="list-actions">
        <div class="list-search">
            {% include 'partial/search.html' %}
        </div>
        <div class="list-adding">
            <a href="{% url 'webapp:file_create' %}" class="btn btn-success">⊕ Add File</a>
        </div>
    </div>

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

    <div class="file-table">
        {% for file in file_list %}
            {% if file.access == "Public" %}
                {% include 'partial/card.html' %}
            {% endif %}
        {% endfor %}
    </div>

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}