<div class="file-card">
    <div class="file-info">
        <div class="file-title">
            <a href="/file/{{ file.pk }}">{{ file.caption }}</a>
        </div>
        <div class="file-author">
            {% if file.author %}
                By: <a href="{% url 'accounts:user_detail' file.author.pk %}">{{ file.author.username }}</a>
            {% else %}
                By: Anonim
            {% endif %}
        </div>
        <div class="file-date">{{ file.created_at|date:'d.m.Y H:i:s' }}</div>
    </div>
    <div class="file-access">{{ file.access }}</div>
    <div class="file-download">
        <a href="{{ file.file.url }}" class="btn btn-success mr-2">Download</a>
        {% if perms.webapp.change_file or request.user == file.author%}
            <a href="{% url 'webapp:file_update' file.pk %}" class="btn btn-secondary mr-2">⚙</a>
        {% endif %}
        {% if perms.webapp.delete_file or request.user == file.author%}
            <a href="{% url 'webapp:file_delete' file.pk %}" class="btn btn-danger">☒</a>
        {% endif %}
    </div>
</div>

