{#<form class="text-center" action="" method="GET">#}
{#    <label for="{{ form.search.id_for_label }}">{{ form.search.label }}:</label>#}
{#    {{ form.search }}#}
{#    <input type="submit" value="Search">#}
{#    {% for error in form.search.errors %}#}
{#        <p class="form-error">{{ error }}</p>#}
{#    {% endfor %}#}
{#</form>#}
{% load widget_tweaks %}
<form class="form-inline mr-auto" method="GET" action="">
          <div class="md-form my-0">
           {{search.search|add_class:'form-control'}}
          </div>
          <button  class="btn btn-primary search-btn" type="submit">Найти</button>
     {% for error in search.search.errors %}
        <p class="form-error">{{ error }}</p>
    {% endfor %}
 </form>